body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
}
.no-outline:focus {
    outline: none;
}

#notepad-window {
    width: 500px;
    height: 700px;
    border: 2px solid white;
    margin: auto;
}
.add-note-bttn {
    width: 90%;
    height: 100px;
    margin: 20px auto 20px;
    border: 1px solid grey;
    color: grey;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}
.plus-svg {
    width: 50px;
    height: 50px;
    filter: contrast(100%);
    margin-left: 40px;
    margin-bottom: 10px;
}
.plus-svg img {
    filter: invert(100%) brightness(60%);
}
.colors-container {
    width: 90%;
    height: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between
}
.colors-container div {
    width: 30px;
    height: 20px;
    border: 1px solid grey;
    cursor: pointer;
}
.color:nth-child(1) {
 background-color: red;
}
.color:nth-child(2) {
    background-color: orange;
}
.color:nth-child(3) {
    background-color: yellow;
}
.color:nth-child(4) {
    background-color: yellowgreen;
}
.color:nth-child(5) {
    background-color: cadetblue;
}
.color:nth-child(6) {
    background-color: blue;
}
.color:nth-child(7) {
    background-color: blueviolet;
}
.color:nth-child(8) {
    background-color: violet;
}
.color:nth-child(9) {
    background-color: white;
}

.notes-container {
    width: 90%;
    height: 535px;
    border: 1px solid grey;
    margin: auto;
}
.notes-container-text {
    color: grey;
    text-align: center;
    user-select: none;
    margin: 8px auto 0;
}
.note {
    width: 95%;
    height: 70px;
    border: 1px solid grey;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px auto;
    user-select: none;
}
.pin-note-bttn {
    width: 30px;
    height: 50px;
    background-color: rgb(194, 153, 0);
    cursor: pointer;
}
.pin-note-bttn img {
    margin-top: 10px;
}
.note-short-title {
    border: 1px solid grey;
    width: 60%;
    height: 60px;
    overflow-wrap: break-word;
    padding: 5px;
    cursor: pointer;
    color: #eee;
}
.note-short-title p {
    margin: 0;
}
.date {
    text-align: center;
    font-size: 12px;
}
.note-edit-bttn {
    border: 3px solid rgb(0, 62, 1);
    width: 40px;
    height: 40px;
    background-color: rgb(0, 105, 0);
    overflow: hidden;
    cursor: pointer;
}
.note-edit-bttn img{
    width: 25px;
    filter: invert(49%) sepia(15%) saturate(7478%) hue-rotate(88deg) brightness(30%) contrast(112%);
    margin-top: 7px;
    margin-left: 6px;
}
.note-delete-bttn {
    border: 3px solid rgb(73, 0, 0);
    width: 40px;
    height: 40px;
    background-color: rgb(115, 0, 0);
    display: flex;
    overflow: hidden;
    cursor: pointer;
}
.note-delete-bttn img{
    width: 55px;
    filter: invert(8%) sepia(39%) saturate(6876%) hue-rotate(331deg) brightness(50%) contrast(106%);
}


.create-note-window {
    background-color: black;
}
.note-title-con {
    display: flex;
    width: 90%;
    height: 100px;
    margin: 20px auto 0px;
    border: 1px solid grey;
}
.title-input {
    display: block;
    width: 95%;
    height: 55px;
    font-size: 36px;
    color: white;
    background-color: black;
    margin: auto;
}
.title-input::selection {
    background-color: grey;
}
.note-description-textarea {
    background-color: black;
    color: white;
    border-bottom: none;
    width: 97%;
    height: 430px;
    resize: none;
    font-size: 20px;
    border: none;
    margin-left: 7px;
    margin-top: 2px;
}
.note-description-textarea::selection {
    background-color: grey;
}
.save-note-btn {
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    color: white;
    background-color: green;
    cursor: pointer;
    border: 3px solid rgb(0, 69, 0);
    font-size: 30px;
    margin-top: 22px;
}